<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="class.css">

    <style>
        body {
            background: #0b0b0b;
            color: white;
        }
    </style>
</head>
<body>
<div id="header">
            <div id="particles-js"></div>
            <script src="particles.min.js"></script>
            <script src="particles.js"></script>
            <script src="app.js"></script>
        <div class="container">
        <nav>
            <img src="logo.png" alt="logo" class="logo">
            <img src="pic2.png" alt="overlay" class="overlay">
            <div class="nav-links">
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/works">Works</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="header-text">
        <p>Hi! Welcome to my programming works.</p>
        <h1>I'm <span>Ruben Vargas</span></h1>
        <p><span>Computer Engineering Student</span></p>
    </div>
</div>
</body>
</html>