<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="class.css">

    <style>
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<div id="profile">
    <div class="contains">

        <video autoplay loop muted plays-inline class="background">
            <source src="gold.mp4" type="video/mp4">
        </video>

        <div class="row">
            <div class="column1">
                <img src="pic.JPG">
            </div>
            <div class="column2">
                <a href="/contact" class="button">Contact Me!</a>
                <a href="/" class="button-home-button">Home</a>
                 <h1>A little about me</h1>
                 <p1><br>"Every story has an end, but in life every ending is just a new beginning."</p1>
                 <p>Hello, my name is Ruben A. Vargas, a Computer Engineering student (BSCPE 2-4) at 
                    <br>Polytechnic University of the Philippines-Manila. I'm 20 years old and I grew up in 
                    <br>Antipolo, Rizal. My hobbies include editing random videos, playing online games, and watching thriller movies.<br></p>
                <h2>Things I want to learn</h2>
                <img src="language.png">
            </div>
            <div class="column3">
                <p>Vargas, Ruben A.</p>
                <h1 class="sub">Polytechnic University of <br>the Philippines</br></h1>
            </div>
        </div>
    </div>
</div>
