<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
    <link rel="stylesheet" href="class.css">
</head>
<body>

    <video autoplay loop muted plays-inline class="background">
        <source src="waves.mp4" type="video/mp4">
    </video>

<div class="upper">
    <a href="/works" class="back-button"> < Back</a>
    <h1>Convert String to Uppercase</h1>

    <form action="/touppercase" method="post">
        <div class="enterstring">
            <label for="inputString">Enter a string:</label>
        </div>
        <div class="type">
            <input type="text" id="inputString" name="inputString">
        </div>
        <div class="submit">
            <input type="submit" value="Convert">
        </div>
    </form>

    {% if result %}
    <p>Converted string: {{ result }}</p>
    {% endif %}
</div>
</body>
</html>
