<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="class.css">

    <style>
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<body>
    
    <video autoplay loop muted plays-inline class="background">
        <source src="video.mp4" type="video/mp4">
    </video>

<div class="wrapper">
    <a href="/" class="home-button"> < Home</a>
    <div class="card">
        <img src="upper.jpg">
        <div class="info">
            <h1>To Uppercase</h1>
            <p>Its primary purpose is to change every letter or character in a text or string to an uppercase or capital letter. </p>
            <a href="/touppercase" class="btn">Try!</a>
        </div>
    </div>

    <div class="card">
        <img src="triangle.jpg">
        <div class="info">
            <h1>Area of a Triangle</h1>
            <p>Its primary function is to use formulas to calculate the area of a triangle, but it also refers to the method for estimating the quantity of space contained by a triangle. </p>
            <a href="/triangle" class="btn">Try!</a>
        </div>
    </div>

    <div class="card">
        <img src="circle.jpg">
        <div class="info">
            <h1>Area of a Circle</h1>
            <p>Its primary purpose is to use formulas to calculate a circle's area, which also refers to the process of figuring out how much space a circle encloses.</p>
            <a href="/circle" class="btn">Try!</a>
        </div>
    </div>
</div>
</body>
